<!DOCTYPE html>
<html ng-app="myApp"><!-- App is started here-->
<head>
    <title>Dropdowns in AngularJs</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="dropdowncss.css">
    <script src="dropdown.js"></script>
</head>
<body  style="margin-left: 547px;margin-top:250px;background-color: aquamarine" id="borderstyling">
<div ng-controller="OrganizationalCtnl"><!-- Controller added using ng-controller which is done in dropdown.js-->
    <div><!-- First Dropdown to select organizations-->
        Select from Organization:
        <select id="org" ng-model="Organization" ng-options="org.division for org in org"
                ng-change="GetSelectedOrganization()">
            <option value=''>Organization</option>
        </select>
    </div>
    <div style='height: 15px;'>
        &nbsp;</div>

    <div data-ng-show="orgshow"><!-- Dropdown to select  Sub-organizations-->
        Suborgnization:
        <select id="suborg" ng-disabled="!Organization"   ng-model="suborgnization" ng-options="option for option in newsubselction">
            <option value=''>Select</option>
    </select>
    </div>

    <div style='height: 15px;'>
        &nbsp;</div>
    <div data-ng-show="Showterritories()"><!--Dropdown to select Sales-->
      <div > Territories :   <select id="teamsales" data-ng-disabled="suborgnization != 'Territories'"   ng-model="territories" ng-options="salesTeam.territory for salesTeam in salesTeam">
        <option value=''>Sales Team</option>
    </select></div>
    </div>
    <div style = 'height:15px;'>&nbsp;</div>
    <div data-ng-show="Showterritories()" ><!--Dropdown to select sales team Group-->
        Sales Teams :  <select id="sales" data-ng-disabled="suborgnization != 'Territories'"  ng-model="salesTeamgroup1"   ng-options="salesoption for salesoption in salesTeamgroup[territories.id]">
        <option value=''>Select</option>
    </select>
    </div>


    <div style='height: 15px;'>
        &nbsp;</div>
    <div>
        <div data-ng-show="customercareMessage" class="textstyling" ><b>Hello,we are here to help you.Please contact us.</b> </div>
        <div data-ng-show="marketingmessage" class="textstyling" ><b>Hello from marketing Team</b> </div>
        <div data-ng-show="salesmessahe" class="textstyling" ><b>Hello from Sales Team</b> </div>

        <div style='height: 15px;'>
        &nbsp;</div>
        <span>Selected Organization: </span>
        <label>
            {{divisionname}}</label>
    </div>
    <div style='height: 15px;'>
        &nbsp;</div>
    <div data-ng-show="orgshow">
        <span>Selected Suborgnization: </span>
        <label>
            {{suborgnization}}</label>
    </div>
    <div style='height: 15px;'>
        &nbsp;</div>
    <div data-ng-show=" test">
        <span>Selected Territory: </span>
        <label>
            {{territories.territory}} </label>
    </div>
    <div style='height: 15px;'>
        &nbsp;</div>
    <div data-ng-show="test ">
        <span>Selected SalesGroup:  {{salesTeamgroup1}}  </span>

    </div>
</div>

</body>
</html>

