
#borderstyling {
    padding: 20px;
    width: 547px;
    height: 286px;
    border: 5px solid blue;
    border-radius: 10px;
}

.textstyling{

    font-style: italic;
    font-family: Georgia;
    font-size: 20px;
    font-color: solid blue;

}